<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Common Reusable components</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigator">
    <a class="navbar-brand" href="http://www.thymeleaf.org">
        <img width="200" src="../static/images/thymeleaf_logo_dark.png" th:src="@{images/thymeleaf_logo_dark.png}"
             alt="Thymeleaf Logo">
    </a>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item" th:classappend="${homePage != null ? 'active': '' }">
            <a class="nav-link" th:href="@{/}" href="home.html"> Home </a>
        </li>
        <li class="nav-item" th:classappend="${jsoncxPage != null ? 'active': '' }">
            <a class="nav-link" th:href="@{/jsoncx}" href="jscx.html"> Json2JavaConverter </a>
        </li>
        <li class="nav-item" th:classappend="${jsonvxPage != null ? 'active': '' }">
            <a class="nav-link" th:href="@{/jsonvx}" href="jscx.html"> JsonValidator </a>
        </li>
    </ul>
</nav>
<footer class="card-footer text-muted bg-dark" th:fragment="footer">
    <a href="https://abhinavganguly.com" target="_blank">
        &copy; 2023 Abhinav Ganguly </a>
</footer>
</body>
</html>