<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js">
    </script>
</head>
<body>
<div class="container">
    <nav th:insert="fragments/common.html :: navigator"></nav>

    <div th:if="${validationMessage ne null}" th:text="${validationMessage}"  class="alert"
         th:classappend="${validJSON ? 'alert-success' : 'alert-danger'}" role="alert"> dummy error
    </div>
    <br/>
    <div class="card">
        <div class="card-header">JSON Validator</div>
        <div class="card-body">
            <form th:action="@{/validateJSON}" method="post" enctype="multipart/form-data">
                <label for="jsxToValidate">JSON File that you want to validate</label>
                <div class="input-group mb-3">
                    <input class="form-control form-control-lg" placeholder="JSON File that you want to validate"
                           type="file" name="jsxToValidate" id="jsxToValidate" accept=".json"
                           aria-label="JSON File that you want to validate"/>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">.json</span>
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">VALIDATE JSON</button>

            </form>
        </div>
    </div>

    <div th:insert="fragments/common.html :: footer"></div>
</div>

</body>
</html>
